---
import Avatar from '$components/Avatar.astro';
import Badge from '$components/Badge.astro';
import Card from '$components/Card.astro';
import IconButton from '$components/IconButton.astro';
import Td from '$components/Td.astro';
import TBody from '$components/TBody.astro';
import Th from '$components/Th.astro';
import THead from '$components/THead.astro';
import { users, statuses } from '$dummies/users';
---
<Card className="sm:mx-0 -mx-6 relative overflow-x-hidden">
  <div class="relative overflow-x-auto">
    <table>
      <THead>
        <tr>
          <Th padding="px-6 py-4 sm:p-4">
            Name
          </Th>
          <Th padding="px-6 py-4 sm:p-4">
            Role
          </Th>
          <Th padding="px-6 py-4 sm:p-4">
            Status
          </Th>
          <Th padding="px-6 py-4 sm:p-4" className="text-right">
            Registration date
          </Th>
          <Th padding="px-6 py-4 sm:p-4" />
        </tr>
      </THead>
      <TBody>
        {users.map(({avatar, name, email, role, status, created_at}) => (
          <tr class="hover:bg-gray-50 focus-within:bg-gray-50">
            <Td padding="px-6 py-4 sm:p-4" className="w-full">
              <div class="flex items-center pr-10">
                <Avatar src={avatar} alt={`${name}'s avatar'`} />
                <div class="ml-3">
                  <p class="font-medium">{name}</p>
                  <p class="text-gray-500">{email}</p>
                </div>
              </div>
            </Td>
            <Td padding="px-6 py-4 sm:p-4" className="capitalize">{role}</Td>
            <Td padding="px-6 py-4 sm:p-4" className="capitalize">
              <Badge size="md" color={statuses[status]}>{status}</Badge>
            </Td>
            <Td padding="px-6 py-4 sm:p-4 text-right">
              {created_at}
            </Td>
            <Td padding="px-6 py-4 sm:p-4">
              <IconButton as="a" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8 4l8 8-8 8"/></svg>
                <span class="sr-only">Edit User</span>
              </IconButton>
            </Td>
          </tr>
        ))}
      </TBody>
    </table>
  </div>
</Card>