---
import Avatar from '$components/Avatar.astro';
import Badge from '$components/Badge.astro';
import Card from '$components/Card.astro';
import DashboardSection from '$components/DashboardSection.astro';
import DashboardSectionTitle from '$components/DashboardSectionTitle.astro';
import Link from '$components/Link.astro';
import { orders, statuses } from '$dummies/orders.js';

const { className } = Astro.props;

const shownOrders = orders.slice(0, 5);
---
<DashboardSection className={className}>
  <div class="flex items-center justify-between">
    <DashboardSectionTitle>Recent Orders</DashboardSectionTitle>
    <Link href="#">View all</Link>
  </div>
  <Card className="overflow-hidden">
    <table class="hidden min-w-full md:block">
      <thead>
        <tr class="text-xs tracking-wider text-left text-gray-500 uppercase border-b border-gray-300 bg-gray-50">
          <th scope="col" class="px-4 py-4">
            Buyer
          </th>
          <th scope="col" class="px-4 py-4 text-right">
            Amount
          </th>
          <th scope="col" class="px-4 py-4">
            Status
          </th>
          <th scope="col" class="px-4 py-4 text-right">
            Date
          </th>
        </tr>
      </thead>
      <tbody class="text-gray-700 divide-y divide-gray-300">
      {shownOrders.map(({ buyer: {avatar, name}, amount, status, date }) => (
        <tr>
          <td class="w-full px-4 py-4 whitespace-nowrap">
            <div class="flex items-center">
              <Avatar src={avatar} alt={`${name}'s Avatar'`} />
              <div class="ml-3">
                <p class="font-semibold">{name}</p>
                <p class="text-gray-500">Customer</p>
              </div>
            </div>
          </td>
          <td class="px-4 py-4 text-right whitespace-nowrap">
            $ {amount} USD
          </td>
          <td class="px-4 py-4 whitespace-nowrap">
            <Badge color={statuses[status]}>{status}</Badge>
          </td>
          <td class="px-4 py-4 text-right whitespace-nowrap">
            {date}
          </td>
        </tr>
      ))}
      </tbody>
    </table>
    <div class="block md:hidden">
      <ul class="text-gray-700 divide-y divide-gray-300">
        {shownOrders.map(({ buyer: {avatar, name}, amount, date, status }) => (
          <li class="p-4">
            <div class="flex items-center justify-between">
              <span class="text-gray-500">{date}</span>
              <Badge color={statuses[status]}>{status}</Badge>
            </div>
            <div class="flex items-center justify-between mt-3">
              <div class="flex items-center">
                <Avatar src={avatar} alt={`${name}'s Avatar'`} className="hidden sm:block" />
                <div class="sm:ml-3">
                  <p class="font-semibold">{name}</p>
                  <p class="text-gray-500">Customer</p>
                </div>
              </div>
              <span>$ {amount} USD</span>
            </div>
          </li>
        ))}
      </ul>
    </div>
  </Card>
</DashboardSection>