---
import clsx from 'clsx';
import IconButton from './IconButton.astro';

const { title, open, onClose, className, ...props } = Astro.props;
---
<div
  x-show={open}
  x-cloak
  x-init={`$nextTick(() => document.addEventListener('keydown', (event) => {
    if (event.key === 'Escape' && ${open}) {
      ${onClose}
    }
  }))`}
  class="fixed top-0 left-0 z-20 w-full h-full overflow-y-auto bg-gray-800/80"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-300"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
>
  <div
    class="flex items-center min-h-[calc(100%-2rem)] my-4"
  >
    <div
      x-data="dialog"
      x-bind="dialog"
      x-show={open}
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 scale-95"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-95"
      x-trap.noscroll={open}
      class={clsx('bg-white rounded-xl relative mx-auto overflow-hidden', className)}
      {...props}
    >
      <div class="w-full px-6 pt-4" x-cloak>
        <div class="flex items-center justify-between">
          <h3 class="text-lg font-semibold tracking-wider text-gray-700" x-bind="dialogTitle">
            {title}
          </h3>
          <IconButton data-close="true" className="ml-8" @click={onClose}>
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5 sm:w-4 sm:h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 20L4 4m16 0L4 20" /></svg>
            <span class="sr-only">Close dialog</span>
          </IconButton>
        </div>
        <div class="text-gray-600">
          <slot />
        </div>
      </div>
    </div>
  </div>
</div>
