---
import clsx from 'clsx';

const { href, className } = Astro.props;
const baseClass = clsx('font-semibold tracking-tight text-gray-700', className);
const subClass = clsx('font-bold text-primary-600');
---
{Boolean(href) ? (
  <a href={href} class={baseClass}>
    ruine<span class={subClass}>.UI</span>
  </a>
) : (
  <span class={baseClass}>ruine<span class={subClass}>.UI</span></span>
)}
